<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Watchout Live Title</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="author" content="Watchout"/>
<link rel="shortcut icon" href="" />
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- element ui -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<style>
  html, body{
    padding: 0;
    margin: 0;
    font-family: "xingothic-tc", Arial, Helvetica, sans-serif;
  }
  .head{
    text-align: center;
    background-color: #50e3c2;
    color: #FFFFFF;
    line-height: 60px;
    font-size: 2rem;
    font-weight: 700;
  }
  .tags{
    font-size: 1.1rem;
  }
  .el-color-picker__trigger{
    width: 100px;
  }
  .title{
    width: 100%;
    text-align: left;
    font-size: 25px;
    height: 40px;
    line-height: 40px;
  }
  .area_br{
    margin-top: 20px;
    border: #c6c6c6 solid 10px;
    padding: 20px;
  }
  .image_item{
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
    background-color: #c6c6c6;
    height: 140px;
    border: #c6c6c6 solid 5px;
    border-radius: 5px;
  }
  .c-btn-big{
    width: 150px;
    height: 150px;
    font-size: 40px;
  }
  .preview{
    position: fixed;
    z-index: -1;
    top: 80px;
    left: 0px;
    width:1920px;
    height:1080px;
    background-image: url("./static/transparent.jpg");
    opacity: 0.3;
    transform: scale(0.6);
    transform-origin:0 0;
  }
  .center{
    text-align: center;
  }
  .main{
    background-color: rgb(255,255,255,0.3);
  }
</style>

<body>
{% raw %}
  <div id="app">
    <el-header class="head"><span>WATCHOUT LIVE TITLE (2018市長辯論)</span></el-header>
    <iframe src="./debate" class="preview" scrolling="no"></iframe>
    <el-main class="main">
      <div class="area_br">
        <el-row :gutter="10">
          <el-col :sm="24"><h1>(1) FACK CHECK</h1></el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :sm="3" class="center">
              <h1>上傳圖檔</h1>
              <el-upload
                action="/debate/data/alert/photo"
                list-type="picture-card"
                :on-preview="handlePictureCardPreview"
                :show-file-list="false"
                :on-remove="handleRemove"
                :on-success="reload">
                <i class="el-icon-plus"></i>
              </el-upload>
            </el-col>
            <el-col :sm="5" class="center">
                <h1>目前圖片</h1>
                <div 
                  class="image_item"
                  v-bind:style="{ backgroundImage: 'url(' + dabateAlert.img + ')'}">
                </div>
              </el-col>
            <el-col :sm="2" class="center">
              <h1>秒數</h1>
              <el-input v-model="dabateAlert.countDown" placeholder="會在畫面上停留多久" disabled></el-input>
            </el-col>
            <el-col :sm="14" style=" padding-top: 50px;padding-left: 50px;">
              <el-button  v-if="dabateAlert.display" class="c-btn-big" @click="showDebateAlert" disabled>{{dabateAlert.currentCountDown}}</el-button>
              <el-button  v-else type="primary" class="c-btn-big" @click="showDebateAlert">送出</el-button>
              <el-button type="danger" class="c-btn-big" @click="hiddenDebateAlert" style="margin-left:50px;">終止</el-button>
            </el-col>
        </el-row>
      </div>
      <div class="area_br">
        <el-row :gutter="10">
          <el-col :sm="24"><h1>(2) Question </h1></el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :sm="3" class="center">
              <h1>上傳圖檔</h1>
              <el-upload
                action="/debate/data/alert/photo"
                list-type="picture-card"
                :on-preview="handlePictureCardPreview"
                :show-file-list="false"
                :on-remove="handleRemove"
                :on-success="reload">
                <i class="el-icon-plus"></i>
              </el-upload>
            </el-col>
            <el-col :sm="4" class="center">
                <h1>目前圖片</h1>
                <div 
                  class="image_item"
                  v-bind:style="{ backgroundImage: 'url(' + dabateAlert.img + ')'}">
                </div>
              </el-col>
            <el-col :sm="8" class="center">
              <h1>Q標題</h1>
              <el-input
                type="textarea"
                :rows="5"
                placeholder="Q標題文字"
                v-model="dabateQuestion.title">
              </el-input>
              <h2>秒數</h2>
              <el-input v-model="dabateAlert.countDown" placeholder="會在畫面上停留多久" disabled></el-input>
            </el-col>
            <el-col :sm=9 style=" padding-top: 50px;padding-left: 50px;">
              <el-button  v-if="dabateAlert.display" class="c-btn-big" @click="showDebateAlert" disabled>{{dabateAlert.currentCountDown}}</el-button>
              <el-button  v-else type="primary" class="c-btn-big" @click="showDebateAlert">送出</el-button>
              <el-button type="danger" class="c-btn-big" @click="hiddenDebateAlert" style="margin-left:50px;">終止</el-button>
            </el-col>
        </el-row>
      </div>
      <div class="area_br">
        <el-row :gutter="20" style="margin-bottom:20px;">
          <el-col :span="3"><div class="title">常用標題</div></el-col>
          <template v-for="item in commons">
          <el-col :span="3">
            <el-button style="width:100%;" @click="setTitle(item.title)">{{item.title}}</el-button>
          </el-col>
          </template>
        </el-row>
        <el-row :gutter="20" style="margin-bottom:10px;">
          <el-col :span="3"><div class="title">標題顏色</div></el-col>
          <el-col :span="2"><el-button style="background-color: #000000; width: 100%;" @click="setColor('#000000')">黑色</el-button></el-col>
          <el-col :span="2"><el-button style="background-color: #FFFFFF; width: 100%;" @click="setColor('#FFFFFF')">白色</el-button></el-col>
          <el-col :span="10"><el-color-picker v-model="titleColor" @change="submit()"></el-color-picker></el-col>
        </el-row>
        <el-row :gutter="20" style="margin-bottom:10px;">
          <el-col :span="3"><div class="title">標題大小</div></el-col>
          <el-col :span="2"><el-button style="width:100%;" @click="setSize(90)">90px</el-button></el-col>
          <el-col :span="2"><el-button style="width:100%;" @click="setSize(70)">70px</el-button></el-col>
          <el-col :span="2"><el-button style="width:100%;" @click="setSize(50)">50px</el-button></el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="3"><div class="title">輸入標題</div></el-col>
          <el-col :span="15">
            <el-input v-model="title" placeholder="輸入標題" style="margin-bottom:10px;"></el-input>
          </el-col >
          <el-col :span="6">
            <el-button type="primary" style="width:100%" @click="setTitle(title1)">送出</el-button>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="3"><div class="title">文字暫存區</div></el-col>
          <el-col :span="21">
            <el-input
              type="textarea"
              :rows="10"
              placeholder="給你盡情先放些文字用的區域"
              v-model="textarea"
              style="margin-top:5px"
              >
            </el-input>
          </el-col>
        </el-row>
      </div>
      <div class="area_br">
        <el-row :gutter="10">
            <el-col :sm="3">
                <el-upload
                  action="/debate/photos"
                  list-type="picture-card"
                  :on-preview="handlePictureCardPreview"
                  :on-remove="handleRemove"
                  :on-success="reload">
                  <i class="el-icon-plus"></i>
                </el-upload>
            </el-col>
            <el-col :sm="3" v-for="item in livePhotos">
              <div 
                class="image_item"
                v-bind:style="{ backgroundImage: 'url(http://127.0.0.1:8000/static/uploads/' + item + ')'}">
              </div>
            </el-col>
        </el-row>
      </div>
    </el-main>
  </div> <!-- app -->
{% endraw %}
<script>
  new Vue({
    el: '#app',
    data: function () {
      return { 
        dabateAlert: {
          img:'',
          display: false,
          countDown: 3,
          currentCountDown: 0
        },
        dabateQuestion: {
          img:'',
          title: '',
          display: false,
          countDown: 5,
          currentCountDown: 0
        },
        visible: false,
        liveTitle: ' -- ',
        livePhotos: [],
        selectLivePhotos: null,
        titleColor: '#000000',
        titleSize: 70,
        title: '',
        textarea: '',
        input: '',
        titleActive: false,
        def_padding: {span:16,offset:4},
        btn_padding: {span:12,offset:4},
        commons: [
          {title:'活動即將開始'},
          {title:'中場休息'},
          {title:'中午休息'},
          {title:'謝謝收看'}       
        ],
        photoList: [],
        dialogImageUrl: '',
        dialogVisible: false
      }
    },
    mounted: function () {
      this.getTitle();
      this.getPhotos();
      this.getDebateAlert();
    },
    methods: {
      submit(){
        console.log('this.titleActive :', this.titleActive)
        let active ='';

        if (this.titleActive){
          active = false;
        } else {
          active = true;
        }
        axios({
          method: 'post',
          url: '/title',
          headers: {
            'Content-Type': 'application/json'
          },
          data: {
            title: this.liveTitle,
            color: this.titleColor,
            size: this.titleSize,
            titleActive: active
          }
        })
        .then((response) => {
          this.liveTitle = response.data.title
          this.titleActive = response.data.titleActive
          this.$message({
            showClose: true,
            message: `設定標題成功！！`,
            type: 'success'
          })
        })
        .catch((error) => {
          this.showError(error);
        });
      },
      setTitle(txt) {
        this.liveTitle = txt;
        this.submit();
      },
      setColor(color) {
        this.titleColor = color;
        this.submit();
      },
      setSize(size) {
        this.titleSize = size;
        this.submit();
      },
      getTitle() {
        axios({
          method: 'get',
          url: '/data',
        })
        .then((response) => {
          this.liveTitle = response.data.title
          this.titleColor = response.data.color
          this.titleSize = response.data.size
          this.$message({
            showClose: true,
            message: `讀取標題成功！ : ${response.data.title}`,
          })
        })
        .catch((error) => {
          this.showError(error);
        });
      },
      getDebateAlert() {
        axios({
          method: 'get',
          url: '/debate/data/alert',
        })
        .then((response) => {
          this.dabateAlert.img = response.data.img;
          this.dabateAlert.display = response.data.display;
          const h = this.$createElement;
          this.$notify({
          title: '更新素材',
            message: h('h3', { style: 'color: teal'}, '更新 (1) FACT CHECK 素材成功')
          });
        })
        .catch((error) => {
          console.log(error)
          this.showError(error);
        });
      },
      showDebateAlert(){
        axios({
          method: 'post',
          url: '/debate/data/alert',
          headers: {
            'Content-Type': 'application/json'
          },
          data: {
            display: true
          }
        })
        .then((response) => {
          this.dabateAlert.img = response.data.img;
          this.dabateAlert.display = response.data.display;
          const h = this.$createElement;
          this.$notify({
          title: 'FACT CHECK',  
            message: h('h3', { style: 'color: #409EFF'}, '顯示FACT CHECK '+ this.dabateAlert.countDown + '秒')
          });
          let self = this;
          this.dabateAlert.currentCountDown = this.dabateAlert.countDown
          let countDown = setInterval(function(){
            self.dabateAlert.currentCountDown--;
            if (self.dabateAlert.currentCountDown === 0) {
              self.hiddenDebateAlert();
              clearInterval(countDown);
            }
          }, 1000);
        })
        .catch((error) => {
          console.log(error)
          this.showError(error);
        });
      },
      hiddenDebateAlert(){
        axios({
          method: 'post',
          url: '/debate/data/alert',
          headers: {
            'Content-Type': 'application/json'
          },
          data: {
            display: false
          }
        })
        .then((response) => {
          this.dabateAlert.img = response.data.img;
          this.dabateAlert.display = response.data.display;
          const h = this.$createElement;
          this.$notify({
          title: 'FACT CHECK',  
            message: h('h3', { style: 'color: #f56c6c'}, '關閉 FACT CHECK')
          });
        })
        .catch((error) => {
          console.log(error)
          this.showError(error);
        });
      },
      getPhotos() {
        axios({
          method: 'get',
          url: '/debate/photos',
        })
        .then((response) => {
          this.livePhotos = response.data
          this.$message({
            showClose: true,
            message: '讀取照片成功！',
          })
        })
        .catch((error) => {
          console.log(error);
          this.showError(error);
        });
      },
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePictureCardPreview(file) {
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      },
      reload(){
        this.dialogImageUrl = '';
        this.dialogVisible = false;
        this.getPhotos();
        this.getDebateAlert();
      },
      showError(error){
        const h = this.$createElement;
          this.$notify({
          title: 'ERROR',
            message: h('h1', { style: 'color: red'}, error)
          });
      }
    }
    
  })
</script>
</body>
</html>
