<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Watchout Live Title</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="author" content="Watchout"/>
<link rel="shortcut icon" href="" />
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- element ui -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<style>
  html, body{
    padding: 0;
    margin: 0;
    font-family: "xingothic-tc", Arial, Helvetica, sans-serif;
  }
  .head{
    text-align: center;
    background-color: #50e3c2;
    color: #FFFFFF;
    line-height: 60px;
    font-size: 2rem;
    font-weight: 700;
  }
  .tags{
    font-size: 1.1rem;
  }
  .el-color-picker__trigger{
    width: 100px;
  }
  .title{
    width: 100%;
    text-align: left;
    font-size: 25px;
    height: 40px;
    line-height: 40px;
  }
  .area_br{
    margin-top: 20px;
    border: #c6c6c6 solid 10px;
    padding: 20px;
  }
  .image_item{
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
    background-color: #c6c6c6;
    height: 140px;
    border: #c6c6c6 solid 5px;
    border-radius: 5px;
  }
  .c-btn-big{
    width: 120px;
    height: 120px;
    font-size: 30px;
  }
  .preview{
    position: fixed;
    z-index: -1;
    top: 65px;
    left: 0px;
    width:1920px;
    height:1080px;
    background-image: url("./static/transparent.jpg");
    opacity: 0.3;
    transform: scale(0.6);
    transform-origin:0 0;
  }
  .center{
    text-align: center;
  }
  .main{
    background-color: rgb(255,255,255,0.3);
  }
  .sub-title {
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
  }
</style>

<body>
{% raw %}
  <div id="app">
    <el-header class="head"><span>WATCHOUT LIVE TITLE (2018市長辯論)</span></el-header>
    <iframe src="./debate" class="preview" scrolling="no"></iframe>
    <el-main class="main">
      <div class="area_br">
        <el-row :gutter="10">
          <el-col :sm="24"><h1>(1) FACK CHECK</h1></el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :sm="4" class="center">
              <h1>上傳圖檔</h1>
              <el-upload
                action="/debate/data/alert/photo"
                list-type="picture-card"
                :show-file-list="false">
                <i class="el-icon-plus"></i>
              </el-upload>
            </el-col>
            <el-col :sm="5" class="center">
                <h1>目前圖片</h1>
                <div 
                  class="image_item"
                  v-bind:style="{ backgroundImage: 'url(' + debateAlert.img + ')'}">
                </div>
              </el-col>
            <el-col :sm="3" class="center">
              <h1>秒數</h1>
              <el-input v-model="debateAlert.countDown" placeholder="會在畫面上停留多久" type="number"></el-input>
            </el-col>
            <el-col :sm="12" style=" padding-top: 50px;padding-left: 50px;">
              <el-button  v-if="debateAlert.display" class="c-btn-big" disabled>{{debateAlert.currentCountDown}}</el-button>
              <el-button  v-else type="primary" class="c-btn-big" @click="showDebateAlert">送出</el-button>
              <el-button type="danger" class="c-btn-big" @click="hiddenDebateAlert" style="margin-left:30px;">終止</el-button>
            </el-col>
        </el-row>
      </div>
      <div class="area_br">
        <el-row :gutter="10">
          <el-col :sm="24"><h1>(2) Question </h1></el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :sm="4" class="center">
              <h1>上傳圖檔</h1>
              <el-upload
                action="/debate/data/question/photo"
                list-type="picture-card"
                :show-file-list="false">
                <i class="el-icon-plus"></i>
              </el-upload>
            </el-col>
            <el-col :sm="5" class="center">
                <h1>目前圖片</h1>
                <div 
                  class="image_item"
                  v-bind:style="{ backgroundImage: 'url(' + debateQuestion.img + ')'}">
                </div>
                <div style="margin-top: 20px;">
                  <el-row :gutter="5">
                    <el-col :sm="3" class="sub-title">X</el-col><el-col :sm="9"><el-input v-model="debateQuestion.posX" placeholder="" type="number"></el-input></el-col>
                    <el-col :sm="3" class="sub-title">Y</el-col><el-col :sm="9"><el-input v-model="debateQuestion.posY" placeholder="" type="number"></el-input></el-col>
                  </el-row>
                </div>
              </el-col>
            <el-col :sm="7" class="center">
              <h1>Q標題</h1>
              <el-input
                type="textarea"
                :rows="5"
                placeholder="Q標題文字"
                v-model="debateQuestion.title">
              </el-input>
              <h2>秒數</h2>
              <el-input v-model="debateQuestion.countDown" placeholder="會在畫面上停留多久" type="number"></el-input>
            </el-col>
            <el-col :sm="8" style=" padding-top: 50px;padding-left: 50px;">
              <el-button  v-if="debateQuestion.display" class="c-btn-big" disabled>{{debateQuestion.currentCountDown}}</el-button>
              <el-button  v-else type="primary" class="c-btn-big" @click="showDebateQuestion">送出</el-button>
              <el-button type="danger" class="c-btn-big" @click="hiddenDebateQuestion" style="margin-left:30px;">終止</el-button>
            </el-col>
        </el-row>
      </div>
      <div class="area_br">
        <el-row :gutter="10">
          <el-col :sm="24"><h1>(3) ANSWER</h1></el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :sm="4" class="center">
              <h1>上傳圖檔</h1>
              <el-upload
                action="/debate/data/answer/photo"
                list-type="picture-card"
                :show-file-list="false">
                <i class="el-icon-plus"></i>
              </el-upload>
            </el-col>
            <el-col :sm="5" class="center">
                <h1>目前圖片</h1>
                <div 
                  class="image_item"
                  v-bind:style="{ backgroundImage: 'url(' + debateAnswer.img + ')'}">
                </div>
              </el-col>
            <el-col :sm="3" class="center">
              <h1>秒數</h1>
              <el-input v-model="debateAnswer.countDown" placeholder="會在畫面上停留多久" type="number"></el-input>
            </el-col>
            <el-col :sm="12" style=" padding-top: 50px;padding-left: 50px;">
              <el-button  v-if="debateAnswer.display" class="c-btn-big" disabled>{{debateAnswer.currentCountDown}}</el-button>
              <el-button  v-else type="primary" class="c-btn-big" @click="showDebateAnswer">送出</el-button>
              <el-button type="danger" class="c-btn-big" @click="hiddenDebateAnswer" style="margin-left:30px;">終止</el-button>
            </el-col>
        </el-row>
      </div>
      <div class="area_br">
        <el-row :gutter="10">
          <el-col :sm="24"><h1>(4) COMMENT </h1></el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :sm="4" class="center">
              <h1>上傳圖檔</h1>
              <el-upload
                action="/debate/data/comment/photo"
                list-type="picture-card"
                :show-file-list="false">
                <i class="el-icon-plus"></i>
              </el-upload>
            </el-col>
            <el-col :sm="5" class="center">
                <h1>目前圖片</h1>
                <div 
                  class="image_item"
                  v-bind:style="{ backgroundImage: 'url(' + debateComment.img + ')'}">
                </div>
                <div style="margin-top: 20px;">
                  <el-row :gutter="5">
                    <el-col :sm="3" class="sub-title">X</el-col><el-col :sm="9"><el-input v-model="debateComment.posX" placeholder="" type="number"></el-input></el-col>
                    <el-col :sm="3" class="sub-title">Y</el-col><el-col :sm="9"><el-input v-model="debateComment.posY" placeholder="" type="number"></el-input></el-col>
                  </el-row>
                </div>
              </el-col>
            <el-col :sm="7" class="center">
              <h1>C標題</h1>
              <el-input
                type="textarea"
                :rows="5"
                placeholder="C標題文字"
                v-model="debateComment.title">
              </el-input>
              <h2>秒數</h2>
              <el-input v-model="debateComment.countDown" placeholder="會在畫面上停留多久" type="number"></el-input>
            </el-col>
            <el-col :sm="8" style=" padding-top: 50px;padding-left: 50px;">
              <el-button  v-if="debateComment.display" class="c-btn-big" disabled>{{debateComment.currentCountDown}}</el-button>
              <el-button  v-else type="primary" class="c-btn-big" @click="showDebateComment">送出</el-button>
              <el-button type="danger" class="c-btn-big" @click="hiddenDebateComment" style="margin-left:30px;">終止</el-button>
            </el-col>
        </el-row>
      </div>
    </el-main>
  </div> <!-- app -->
{% endraw %}
<script>
  new Vue({
    el: '#app',
    data: function () {
      return {
        debateAlert: {
          img:'',
          display: false,
          currentCountDown: 0,
          countDown: 4,
        },
        debateQuestion: {
          img:'',
          title: '',
          display: false,
          currentCountDown: 0,
          countDown: 10,
          posX: 425,
          posY: 768
        },
        debateAnswer: {
          img:'',
          display: false,
          currentCountDown: 0,
          countDown: 15
        },
        debateComment: {
          img:'',
          title: '',
          display: false,
          currentCountDown: 0,
          countDown: 6,
          posX: 425,
          posY: 875
        },
      }
    },
    mounted: function () {
      this.getInfo(true);
      this.timer();
    },
    methods: {
      showDebateAlert(){
        this.doActionInfo('alert', true, this.debateAlert);
      },
      hiddenDebateAlert(){
        this.doActionInfo('alert', false, this.debateAlert);
      },
      showDebateQuestion(){
        this.doActionInfo('question', true, this.debateQuestion);
      },
      hiddenDebateQuestion(){
        this.doActionInfo('question', false, this.debateQuestion);
      },
      showDebateAnswer(){
        this.doActionInfo('answer', true, this.debateAnswer);
      },
      hiddenDebateAnswer(){
        this.doActionInfo('answer', false, this.debateAnswer);
      },
      showDebateComment(){
        this.doActionInfo('comment', true, this.debateComment);
      },
      hiddenDebateComment(){
        this.doActionInfo('comment', false, this.debateComment);
      },
      getInfo(init) {
        axios({
          method: 'get',
          url: '/debate/data',
        })
        .then((response) => {
          this.debateAlert.img = response.data.debateAlert.img;
          this.debateAlert.display = response.data.debateAlert.display;
          this.debateAlert.currentCountDown = response.data.debateAlert.currentCountDown;

          this.debateQuestion.img = response.data.debateQuestion.img;
          this.debateQuestion.display = response.data.debateQuestion.display;
          this.debateQuestion.currentCountDown = response.data.debateQuestion.currentCountDown;

          this.debateAnswer.img = response.data.debateAnswer.img;
          this.debateAnswer.display = response.data.debateAnswer.display;
          this.debateAnswer.currentCountDown = response.data.debateAnswer.currentCountDown;

          this.debateComment.img = response.data.debateComment.img;
          this.debateComment.display = response.data.debateComment.display;
          this.debateComment.currentCountDown = response.data.debateComment.currentCountDown;

          if(init) {
            this.debateQuestion.title = response.data.debateQuestion.title;
            this.debateQuestion.posX = response.data.debateQuestion.posX;
            this.debateQuestion.posY = response.data.debateQuestion.posY;
            this.debateComment.title = response.data.debateComment.title;
            this.debateComment.posX = response.data.debateComment.posX;
            this.debateComment.posY = response.data.debateComment.posY;
          }

        })
        .catch((error) => {
          console.log(error)
        });
      },
      doActionInfo(action, display, obj){
        let msg = '';
        let url = '';
        let msgColor = '#409EFF';
        let title = null;
        let countDown = obj.countDown;    
        let currentCountDown = 0;
        let posX = 0;
        let posY = 0;
        switch (action) {
          case 'alert':
            url = '/debate/data/alert';
            if(display) {
              msg = '(1) FACT CHECK 顯示'+ obj.countDown + '秒';
              currentCountDown = obj.countDown;
            } else {
              msgColor = '#f56c6c';
              msg = '(1) FACT CHECK 關閉顯示';
              currentCountDown = 0;
            }
            break;
          case 'question':
            url = '/debate/data/question';
            title = obj.title;
            posX = parseInt(obj.posX);
            posY = parseInt(obj.posY);
            if (display) {
              msg = '(2) Question 顯示'+ obj.countDown + '秒';
              currentCountDown = obj.countDown;
            } else {
              msgColor = '#f56c6c';
              msg = '(2) Question 關閉顯示';
              currentCountDown = 0;
            }
            break;
          case 'answer':
            url = '/debate/data/answer';
            if(display) {
              msg = '(3) ANSWER 顯示'+ obj.countDown + '秒';
              currentCountDown = obj.countDown;
            } else {
              msgColor = '#f56c6c';
              msg = '(3) ANSWER 關閉顯示';
              currentCountDown = 0;
            }
            break;
          case 'comment':
            url = '/debate/data/comment';
            title = obj.title;
            posX = parseInt(obj.posX);
            posY = parseInt(obj.posY);
            if (display) {
              msg = '(4) Comment 顯示'+ obj.countDown + '秒';
              currentCountDown =  parseInt(obj.countDown);
            } else {
              msgColor = '#f56c6c';
              msg = '(4) Comment 關閉顯示';
              currentCountDown = 0;
            }
            break;
        };
        let dataD = {
          display: display,
          title: title,
          countDown: countDown,
          currentCountDown: currentCountDown,
          posX: posX,
          posY: posY
        }
        axios({
          method: 'post',
          url: url,
          headers: {
            'Content-Type': 'application/json'
          },
          data: dataD
        })
        .then((response) => {
          const h = this.$createElement;
          this.$notify({
          title: 'Action',  
            message: h('h3', { style: `color: ${msgColor}`}, msg)
          });
        })
        .catch((error) => {
          console.log(error)
          this.showError(error);
        });
      },
      timer() {
        let self = this;
        setInterval(function(){
          self.getInfo(false);
        }, 1000);
      },
      showError(error){
        const h = this.$createElement;
          this.$notify({
          title: 'ERROR',
            message: h('h1', { style: 'color: red'}, error)
          });
      }
    }
    
  })
</script>
</body>
</html>
